
:root{
    --colorFondo: #F2F2F2;
    --colorPrincipal: #0A4D09;
    --colorPrincipalFuerte: #083d07;
    --colorPrincipalDiluido: #00FF00;
    --rojoFuerte:#aa0000;
    --rojoPastel:#ff8080;
    --verdePastel: #55ff55;
}


*{
    margin: 0;
    padding: 0;
    
    
}

#menu-toggle{
    background: transparent;
    border: none;
    font-size: 2em;
}
html body{
    height: 100%;
}
body{
    background-color: var(--colorFondo);  
    padding: 0 2.5%;  
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3;
}
h1{
    font-size: 1.9rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
span{
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 200;
}
p, li{
    font-size: 1rem;
    font-style: normal;
}

h1,h2,h3,p,a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}
section{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    margin-top: 10% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}
.contenedor{
    margin: 0 auto;
    width: 40%;
    
}

#imagen{
    width: 45%;
    
    overflow: hidden;
    
}

video{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
img.imagenTexto{
    border-radius: 0;
    box-shadow: none;
}

.boton{
    
    color: var(--colorFondo);
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition:border-radius 0.5s ease;
    min-width: 150px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.textoBoton{
    position: relative;
    z-index: 1;
    font-size: 1.15em !important;
    font-weight: 700;
}
.boton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--colorPrincipal);
    width: 150%;
    padding-top: 150%;
    transition: 0.4s ease;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 999px;
    top: 100%;
    
    
    
}

.boton:hover{
    color: var(--colorPrincipal);
    
    border-radius: 50px;
    box-shadow: inset 0px 0px 0px 1px var(--colorPrincipal);
    
   
}
.boton:hover::after{
    top: 400%;
}



/*Estilos header*/

header{
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0 0;
    padding-top: 20px;

    
    
}
header .linkLogo{
    width: 100%;
    display: flex;
    justify-content: center;
}
header .menuMovil{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
header .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
    cursor: pointer;
    
}
header .logo img{
    border-radius: 0;
    box-shadow: none;
    position: absolute;
    margin-bottom: 100px;
    width: 100%; 
    
}

header .logo .logoFondo{
    clip-path: inset(0 0 0 0);
    transition: clip-path 3s ease;
}
header .logo .logoTexto{
    z-index: 2;
    transition: transform 3s ease;
}
header .logo:hover {
    .logoFondo{
        clip-path: inset(0 50% 0 50%);
    }

    .logoTexto{
        transform: scale(1.2);
    }
}


#menu-toggle{
    display: none;
}
header nav{
    width: 100%;
    margin-top: 20px;
}
header ul{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

header li{
    list-style: none;
}

header a{
    position: relative;
}
header a:not(#excluirSubrayado):hover{
    color: var(--colorPrincipalDiluido);
}
header a:not(#excluirSubrayado)::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;

}
header a:not(#excluirSubrayado):hover::after{
    width: 100%;
    background-color: var(--colorPrincipalDiluido);
}


header .barraDecorativa{
    width: 100%;
    height: 20px;
    margin-top: 20px;
    background-color: var(--colorPrincipal);
}



/*Estilos Hero*/

.hero{
    justify-content: space-around;
    flex-direction: column;
    margin-top: 0;
    
}

.hero #contenedorVideoHero{
    
    height: 60%;
    width: 100%;
    
    
}


.hero #contenedorContenidoHero{
    background: blur(5px), url(img/fondoMandalas.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1;
        
}
.hero #contenedorContenidoHero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/fondoMandalas.png');
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
    z-index: -1; /* Esto asegura que el pseudo-elemento quede detrás del contenido */
  }


.hero #botonera{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

/*Estilos seccion info*/
.info h1{
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    
}
.fondoPincelada{
    background: url(img/pincelada.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 90px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 1px;
    position: relative;
    transform: rotate(-5deg);
    margin: 10px 0px;
    font-size: inherit !important;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: 1px solid transparent;
    max-width: 500px;
}
.rellenoPincelada{
    position: relative;
    top: -13px;
    font-size: inherit !important;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}
/*Estilos seccion beneficios*/
.beneficios{
    display: flex;
    flex-direction: column;
}
.beneficios .contenedor{
    height: 100%;
    
}
.beneficios .contenidoBeneficios{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    align-items: center;
}
.beneficios #seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.beneficios #seccion1 a{
    display: flex;
    height: 34%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.beneficios #seccion1 a:hover{
    box-shadow: none;
    
}
.beneficios #seccion1 a:not(:last-child){
    margin-bottom: 20px;
    background-color: var(--colorPrincipal);
    color: var(--colorPrincipal);
}
.beneficios #seccion1 a:not(:last-child)::after{
    background-color: var(--verdePastel);
}
.beneficios #seccion1 a:not(:last-child):hover{
    color: var(--verdePastel);
}
.beneficios #seccion1 a:last-child{
    background-color: var(--rojoFuerte);
    color: var(--rojoFuerte);
}
.beneficios #seccion1 a:last-child:hover{
    color: var(--rojoPastel);
}
.beneficios #seccion1 a:last-child::after{
    background-color: var(--rojoPastel);
}

.sliderContainer{
    position: relative;
    width: 50%;
    height: 80% !important;
    overflow: hidden;
    
}
.sliderContainer button { /* Se aplica a todos los botones */
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.slider{
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    position: relative;

}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: none;

    transition: transform 0.5s ease-in-out;
    
}

.slider img:hover{
    transform: scale(1.3);
    border-radius: 50px;
}

/**
.slider::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    pointer-events: none; Permite que los clics pasen a la imagen 
}
**/

#prev{
    top: 0;
    border-radius: 15px 15px 0 0;

}

#next{
    bottom: 0;
    border-radius: 0px 0px 15px 15px;
}
/*About Us*/

/* Estilos comunes para los h1, h2 y p dentro de .aboutUs, .info y .beneficios */
section.aboutUs h1, section.aboutUs p,
section.info h1, section.info p,
section.beneficios h1, section.beneficios p {
    margin-top: 12px;
}

/* Estilos específicos para h2 */
section.aboutUs h2, section.info h2, section.beneficios h2 {
    font-size: 1.5em;
}

/* Estilos específicos para h1 */
section.aboutUs h1, section.info h1, section.beneficios h1 {
    font-size: 3em;
}

/* Estilos específicos para p */
section.aboutUs p, section.info p, section.beneficios p {
    font-size: 1.2em;
    
}

section.beneficios li{
    list-style: none;
    line-height: 1.6;
    font-size: 1.5em;
    margin-top: 20px;
}


/*Estilos seccion reseñas*/
section.reseñas{
    display: none;
}
section.reseñas #tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

section.reseñas div.contenedor #imagen{
    width: 80%;
    height: 40%;
    align-items: center;
    display: flex;
    margin-bottom: 30%;
    
}
section.reseñas div.contenedor #texto{
    text-align: center;
}
/*Estilos contactanos*/
.contactInfo{
   display: flex;
   flex-direction: column;
}
.contactInfo form{
    display: flex;
    flex-direction: column;
    background-color: var(--colorPrincipalFuerte);
    padding: 4% 2%;
    border-radius: 10px;
 }
 .contactInfo label{
    color: var(--colorFondo);
    margin-bottom: 5px;
 }
 .contactInfo h3{
    color: var(--colorFondo);
    margin-bottom: 25px;
 }
 .contactInfo input{
    height: 35;
 }
 .contactInfo input, textarea{
    margin-bottom: 15px;
    resize: none;
    border: none;
    border-radius: 5px;
    
    padding: 5px;
 }
input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent; 
}

.contactInfo button{
    border: none;
    background-color: var(--colorPrincipalFuerte);
    border: 1px solid var(--colorPrincipalDiluido);
    color: var(--colorPrincipalDiluido);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    position: relative;
    display: inline-block;
    text-align: center;
}

.contactInfo button:hover{
    color: var(--colorPrincipalFuerte);
    box-shadow: 0 0 30px 0 rgba(8, 61, 7, 0.5);
    transition: all 0.2s ease-out;
    background-color: var(--colorPrincipalDiluido);
}

.contactInfo button:hover::before{
    animation: shine 0.5s 0s linear;
}
.contactInfo button:active{
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.contactInfo button::before{
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;

    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}
@keyframes shine{
    from{
        opacity: 0;
        left:0%;
    }

    50%{
        opacity: 1;
    }

    to{
        opacity: 0;
        left: 100%;
    }
}

/*Estilos 768px X xxxxpx*/
@media (max-width: 768px){

    body{
        padding: 0 20px;
        font-size: 0.875em;
    }
    .info h1{
        white-space: wrap;

    }
    .fondoPincelada{
        height: 60px;
    }
    .rellenoPincelada{
        font-size: 0.8em !important;
    }
    h1{
        font-size: 1.5em;
        
    }
    h2{
        font-size: 1.375em;
    }
    h3{
        font-size: 1.25em
    }
    p{
        font-size: 1em;
    }
    .contenedor{
        width: 100%;
    }


    #imagen{
        display: none;
    }

    .beneficios{
        flex-direction: column;
    }

    .beneficios h1{
        margin-top: 20px;
    }

    .boton{
        min-width: 150px;
        padding: 5px 5px;
    }
    .beneficios .contenidoBeneficios{
        display: flex;
        flex-direction: column-reverse;
        height: 70%;
    }
    .beneficios #seccion1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 20%;
    }
    .beneficios #seccion1 a{
        margin: 0 !important;
        width: 20%;
        height: auto;
        min-width: 0;
        padding: 10px 40px;
    }

    header{
        height: 100px;
    }
    header .linkLogo{
        justify-content: start;
        display: inline-block;
    }
    header .logo{
        width: 30%;
    }
    header .logo img{
        margin-bottom: 0;
    }
    header .logo:hover{ 
        .logoFondo{
            clip-path: inset(0 0 0 0);
        }
        .logoTexto{
            transform: scale(1);
        }
    }
    header .menuMovil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    nav{
        display: none;
    }
    #menu-toggle{
        display: block;
    }
    .slider{
        display: block;
    }
    .slider img{
        
    }
    .slider img:hover{
        transform: scale(1);
    }
   
}
